<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-12 mx-auto">
            <div class="form-group">
                <div class="search-hero text-right" style="margin:10px;">
                    <input type="text" class="form-control" [(ngModel)]="filterTerm" placeholder="Search">
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Pontuação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let p of pointList | paginate: { itemsPerPage: pageSize, currentPage: page } | filter:filterTerm ">
                        <td>{{p.name}}</td>
                        <td>{{p.points}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>