<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Mepple 2023</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active ">
                    <a class="nav-link" routerLink="home">Rank<span class="sr-only">(current)</span></a>
                </li>
                <!-- <li class="nav-item active">
                    <a class="nav-link" routerLink="create-betting">Cadastrar Bolão</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="match-point">Cadastrar Pontuação dos Times</a>
                </li> -->
                <li class="nav-item active">
                    <a class="nav-link" routerLink="sign-in">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="sign-up">Cadastro</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>
<!-- <footer>Footer</footer> -->