<div class="d-flex flex-wrap" style="margin-top: 15px; margin-left: 20px;">
    <div *ngFor="let group of teamGroups">
        <div class="d-flex p-2">
            <form #dataGroup="ngForm" (ngSubmit)="onClickSubmit(dataGroup.value)">
                <h5>Grupo {{group.name}}</h5>
                <div *ngFor="let match of matchList">
                    <ng-container *ngIf="group.id == match.group_id ">
                        <div class="form-row box">
                            <div class="col-3">{{match.team1_name}}</div>
                            <div class="col-2">
                                <input type="text" name={{match.team1_name}} class="form-control" style="width: 50%;"
                                    value="{{match.team1_value}}" placeholder="0" maxlength="2" ngModel>
                            </div>
                            <div class="col-1">X</div>
                            <div class="col-2">
                                <input type="text" name={{match.team2_name}} class="form-control " style="width: 50%;"
                                    value="{{match.team2_value}}" placeholder="0" maxlength="2" ngModel>
                            </div>
                            <div class="col-3 ">{{match.team2_name}}</div>
                        </div>
                    </ng-container>
                </div>
                <button class="btn btn-primary" type="submit" value="submit">salvar</button>
            </form>
        </div>
    </div>
</div>